In [15]:
import pandas as pd
stats = pd.read_csv('DemographicData.csv')
stats.columns = ('CountryName','CountryCode','BirthRate',\
                'InternetUsers','IncomeGroup')
stats.head()

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

In [2]:
#We use .at() and .iat() to reach individual values
#.at() is for labels and .iat() is for numbers

In [7]:
stats.iat[10,3]

58.700000000000003

In [8]:
stats.at[10,'InternetUsers'] #.at() uses the labeled number to search

58.700000000000003

In [17]:
atTest = stats[::10]
atTest.head()

   CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
0        Aruba         ABW     10.244          78.90          High income
10  Azerbaijan         AZE     18.300          58.70  Upper middle income
20     Belarus         BLR     12.500          54.17  Upper middle income
30      Canada         CAN     10.900          85.80          High income
40  Costa Rica         CRI     15.022          45.96  Upper middle income

In [18]:
atTest.at[11,'InternetUsers'] #We got an error because I don't have a #11 label inside atTest

KeyError: 11

In [19]:
atTest.head()

   CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
0        Aruba         ABW     10.244          78.90          High income
10  Azerbaijan         AZE     18.300          58.70  Upper middle income
20     Belarus         BLR     12.500          54.17  Upper middle income
30      Canada         CAN     10.900          85.80          High income
40  Costa Rica         CRI     15.022          45.96  Upper middle income